@{
    ViewData["Title"] = "Claim status tracking";
}
<br />
<h2>Track Your Claims</h2>

<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Hours Worked</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>954</td>
            <td>13</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>955</td>
            <td>15</td>
            <td>Pending</td>
        </tr>
    </tbody>
</table>
