@{
    ViewData["Title"] = "Contract Monthly Claim System";
}

<h1>Welcome to the Contract Monthly Claim System</h1>
<br>

<p1>What is the purpose of the Contract Monthly Claim System?</p1>

<br />
<ul>
    <li>Streamline the filing and approval of monthly claims</li>
    <li>Streamline the process of reporting labor hours and assess claims</li>
    <li>Ensure prompt approvals for both lecturers and program coordinators</li>
</ul>

<br /> 

<p>
    Please select your role below to continue, promptly:
</p>
<center>

    <div>
    <a href="/Home/Lecturer" class="btn btn-primary">Portal for Lecturers</a>
    <a href="/Home/Manager" class="btn btn-secondary">Portal for Managers</a>
</div>
    </center>
