@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-black">
    
        <h1 class="display-4">
            Welcome to  Contract Monthly Claim
            System
        </h1>
        <p1> What is the purpose of the Contract Monthly Claim System(CMCS)?</p1>
        <br />
        <br />

        <ul>
        <li>Streamline the filing and approval of monthly claims</li>
        <li>Streamline the process of reporting labor hours and assess claims</li>
        <li>Ensure prompt approvals for both lecturers and program coordinators</li>
    </ul>

        <br />
        <p>
            Please select your role below to continue, promptly:
        </p>
        <center>

        <a href="/account/login" class="btn btn-primary">Login</a> <br />
        <br />
        <br />
        <a href="/Home/Lecturer" class="btn btn-primary">Claim Status</a>
    </div>
</div>

