@{
    ViewData["Title"] = "Manager Claim Verification";
}
<br />
<h2>Verify Submitted Claims</h2>

<table class="table">
    <thead>
        <tr>
            <th>Lecturer</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Abigail Finnis</td>
            <td>10</td>
            <td>R90</td>
            <td>Pending</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </td>
        </tr>
        <tr>
            <td>Joy Arendse</td>
            <td>8</td>
            <td>R50</td>
            <td>Pending</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </td>
        </tr>
        <tr>
            <td>Ashlene Doyle</td>
            <td>12</td>
            <td>R70</td>
            <td>Pending</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </td>
        </tr>
</table>
